body {
    background-color:#f6862b ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.image {
    
    width: 50vw;
    max-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .imgback {
    width: 100%;
    height: 100%;
  }
  
  .imgfront {
    position: absolute;
    width: 50%; 
    height: 90%; 
  }
  